body{
    background-image: url("https://img.freepik.com/free-vector/overlapping-forms-background-design_52683-44629.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}
div{
    background-color: lightsteelblue;
    border-radius: 5px;
    width: 40%;
    height: auto;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 20%;
    font-weight: bold;

    
}
input[type=text], input[type=email], input[type=password], select{
    display:block;
    width:100%;
    padding: 10px;
    margin:8px;
    border:2px solid violet;
}
button{
    background-color: blueviolet;
    color:white;
    border:2px solid black;
    border-radius: 5px;
    font-size: large;
    padding:5px;
    font-weight:bolder;
    font-family:'Times New Roman',Times,serif;

}
label{
    font-size:large;
    display:block;
    float:left;
}
input[type=radio], input[type=checkbox]{
    margin:8px

}